h1{
        color:blue;
         text-align: center;
        font-size: 4rem;
       font-weight: 600;
       font-family: Arial, Helvetica, sans-serif;
       word-spacing: 15px;
       letter-spacing: 7px;
        text-transform: capitalize;
        text-shadow: 2px 2px 2px gold;
}
p{
    color: blueviolet;
    background-color: aliceblue;
}
